.Trends{
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    background: #F7F9F9;
    padding-bottom: 20px;

    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 15px;

        & > h4{
            font-weight: 700;
        }

        & >i {
            cursor: pointer;
        }
    }

    &__list{
        padding: 0 15px;
    }
    
    &__item{
        margin-top: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        & > div {
            & > p{
                font-weight: 400;
                line-height: 21px;
                font-size: 14px;
                color: #393B41;
                opacity: 0.6;
            }

            & > h5 {
                font-weight: 600;
                line-height: 27px;
                font-size: 18px;
            }

            & > span {
                font-weight: 400;
                line-height: 21px;
                font-size: 14px;
                opacity: 0.6;
                color: #393B41;
            }

            & > i {
                cursor: pointer;
            }
        } 

        .link {
            font-weight: 400;
            line-height: 100%;
            font-size: 18px;
            color: #1DA1F2;
        }
    }
}