.site-profile{
    margin-left: 300px;
    max-width: 936px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}
.profile {
    position: relative;
}
.profile__head{
    padding: 22px 30px;
    display: flex;
    align-items: center;
    gap: 40px;

    & > div {

        & > i {
            cursor: pointer;
        }

        & > span {
            font-weight: 700;
            line-height: 27px;
            font-size: 20px;
            color: #000;
        }

        & > p {
            font-weight: 400;
            line-height: 21px;
            font-size: 16px;
            color: #000000;
        }
    }
}

.profile__background {
    width: 100%;

    & > img {
        width: 100%;
    }
}
.profile__edit-head {
    position: absolute;
    // bottom: -70px;
    top: 310px;
    left: 25px;
}
.profile__edit-btn {
    border-radius: 50px;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 400px;
}
.profile__edit-context{
    margin-top: 60px;
    padding: 25px;

    & > h3{
        font-weight: 700;
        line-height: 32px;
        font-size: 24px;
    }

    .email {
        font-weight: 400;
        line-height: 21px;
        font-size: 16px;
        color: #000;
        opacity: 0.6;
    }

    .text{
        font-weight: 400;
        line-height: 24px;
        font-size: 18px;
        margin-top: 15px;

        & > .link {
            margin-left: 10px;
            color: #4b62d7;
        }
    }

    .profile__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;

        & > li {
            color: #000;
            opacity: 0.6;
            cursor: pointer;

            & > span {
                font-weight: 400;
                line-height: 24px;
                font-size: 18px;
                margin-left: 8px;
            }
        }
    }

    .profile__following {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 15px;

        & > li {

            & > b{
                font-weight: 700;
                line-height: 24px;
                font-size: 18px;
                color: #000;
            }

            & > span {
                font-weight: 400;
                line-height: 24px;
                font-size: 14px;
                color: #000;
                opacity: 0.6;
            }
        }
    }
}


.profile__line-tweets{
    width: 100%;
    height: 1px;
    background-color: #c4c4c4;
    opacity: 0.6;
    display: block;
    margin-bottom: 50px;
}